body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 30px;
  position: relative;
  min-height: 100vh;
  background-image: url('new.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.center-bottom-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 500px;
  background-image: url('newtons-method.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

h1 {
  color: #151313;
  font-family: 'Notable', 'san-serif';
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
  text-align: left;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
}
